<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bienvenido</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/main.css'>
</head> 
{% extends 'encabezado.html' %}

{% load static %}

{% block content %}

<body>
    {% if user.is_authenticated %}
        <h1 class="titulo_principal">Bienvenido, {{user.first_name}}</h1>
        <div class="background-image" style="background-image: url('../static/1673927639591.png'); opacity: 0.8;padding: 15% 5%;background-size: cover;
        background-position: center; position: center; margin-left: 20%; margin-right: 20%;"> 
        </div>
        
        <div style="margin-left: 20%; margin-right: 20%; margin-top: 5%;">
            <p class="normaltext">
                ¡Bienvenido a Data Vigilant! Esta aplicación web, creada por un estudiante de la UC3M para su proyecto de fin de estudios, permite analizar
            un archivo Excel/CSV. </p><p></p>

            <p class="normaltext">
                Haga click en el apartado Análisis del menú superior para comenzar. 
            </p><p></p>
        
        </div>
        <div style="margin-bottom: 5%;"></div>
    {% endif %}
</body>

{% endblock %}
</html>